<h1>Editand: {{user.name}}</h1>
<form action="/users/update" method="post" class="form">
    <input type="hidden" name="id" value="{{user.id}}">
    <div class="form-control">
        <label for="name">Nome</label>
        <input type="text" name="name" placeholder="Digite o nome do usuário" value="{{user.name}}">
    </div>
    <div class="form-control">
        <label for="occupation">Ocupação</label>
        <input type="text" name="occupation" placeholder="Digite a profissão" value="{{user.occupation}}">
    </div>
    <div class="form-control form-checkbox">
        {{#if user.newsletter}}
            <input type="checkbox" name="newsletter" checked>
        {{else}}
            <input type="checkbox" name="newsletter">
        {{/if}}
        <label for="newsletter">Enviar promoções</label>
    </div>
    <input type="submit" value="Cadastrar">
</form>
<div class="address-container">
    <h2>Endereços:</h2>
    <form action="/address/create" method="post" class="form">
        <input type="hidden" name="UserId" value="{{user.id}}">
        <div class="form-control">
            <label for="street">Rua</label>
            <input type="text" name="street" placeholder="Digite a rua">
        </div>
        <div class="form-control">
            <label for="number">Número</label>
            <input type="text" name="number" placeholder="Digite o número">
        </div>
        <div class="form-control">
            <label for="complement">Complemento</label>
            <input type="text" name="complement" placeholder="Digite o complemento">
        </div>
        <div class="form-control">
            <label for="neighborhood">Bairro</label>
            <input type="text" name="neighborhood" placeholder="Digite o bairro">
        </div>
        <div class="form-control">
            <label for="city">Cidade</label>
            <input type="text" name="city" placeholder="Digite a cidade">
        </div>
        <input type="submit" value="Incluir endereço">
    </form>

</div>